extends ../layout

block content
  - var formatDate = function(date) {
  -  return new Date(date).toDateString();
  - }

  .page-header
    h3 Item List
  table#example.table.table-striped.tablesorter
    thead
      tr
        th Date
        th Title
        th Description
        th Price
    tbody
      each item in items
        tr
          td #{formatDate(item.createdAt)}
          td #{item.title}
          td #{item.description}
          td #{item.price}
          td: button(class='btn-danger ', onclick="window.location.href='/item/delete/#{item._id}'") x
